<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newtest.test.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CardGuard"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Account" />
        <activity android:name=".SendReceivePage" />
        <activity android:name=".SendingPage" />
        <activity android:name=".ReceivingPage" />
        <activity android:name=".BiometricRegistration" />
        <activity android:name=".PhoneNumberRegistration" />
        <activity android:name=".PhoneNumberValidation" />
        <activity android:name=".TransactionSent" />
        <activity android:name=".RequestSent"></activity>
    </application>

</manifest>